[flake8]
ignore = E203, E501, W503,  # handled by black
         ANN101, ANN204,
         D104,  # no docstring in public package
         D200,  # One-line docstring should fit on one line with quotes
         D107,  # Missing docstring in __init__
         T201,  # Print found
         S311,  # Standard pseudo-random generators are not suitable for security/cryptographic purposes
         S101,  # Use of assert detected. The enclosed code will be removed when compiling to optimised byte code
         C417,  # Unnecessary use of map - use a generator expression instead


per-file-ignores =
    # No docs and annotation required for tests
    test*.py: D10, D101, D103, S101, ANN
    # Skip unused imports in __init__ files
    __init__.py: F401


exclude =
    venv
max-cognitive-complexity = 7
doctests = True
